<section class="container-fluid">
    <div class="row">
        <div class="sidebar">
            <ul class="list-sidebar">
                <li id="1li" class="active"><a href="/AllAppointmentList"><i class="bi bi-speedometer"></i> <span
                            class="nav-label">Dashboard</span></a></li>
                <li id="2li" class=""><a href="/ScheduleAppointmentList"><i class="bi bi-display"></i> <span
                            class="nav-label">Appointments</span></a></li>
                <li id="3li" class=""><a href="/ViewEncounter"><i class="bi bi-person-fill"></i> <span
                            class="nav-label">Encounters</span></a></li>
                <li id="4li" class=""><a href="/List"><i class="bi bi-person-fill"></i> <span
                            class="nav-label">Patients</span></a></li>
            </ul>
        </div>
    </div>
</section>