<header class="container-fluid fixed-top">
    <div class="row">
        <div class="header-section">
            <div class="admin-logo"><a href="index.html">
                <img src="../../../../assets/img/logo.jfif" alt=""></a></div>
            <!-- <div class="user-section">
                <ul class="admin-user">
                    <li class="nav-item dropdown"><a href="#" class="nav-link dropdown-toggle admin-flist" type="button"
                            id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false"><i
                                class="bi bi-bell-fill"></i> <b>99</b></a>
                        <div class="dropdown-menu animated flipInX" aria-labelledby="dropdownMenuButton2">
                            <h3>To Do List</h3> <a class="dropdown-item" href="#">
                                <h6>Miller, James <b>(MRN: 00895654)</b></h6> <small>Reading are available and pending
                                    for review</small>
                            </a> <a class="dropdown-item" href="#">
                                <h6>Smith, David <b>(MRN: 00895654)</b></h6> <small>Reading are available and pending
                                    for review</small>
                            </a> <a class="dropdown-item" href="#">
                                <h6>Brooke, Kelly <b>(MRN: 00895654)</b></h6> <small>Reading are available and pending
                                    for review</small>
                            </a> <a class="dropdown-item" href="#">
                                <h6>Smith, Kane <b>(MRN: 00895654)</b></h6> <small>Reading are available and pending for
                                    review</small>
                            </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown"><a class="nav-link dropdown-toggle hide-drop-arrow" type="button"
                            id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Dr. <br> <span>PMA
                                Care Provider</span></a> <span><img src="user.png" alt="user photo"></span>
                        <div class="dropdown-menu widthOutSub" aria-labelledby="dropdownMenuButton1"><a
                                class="dropdown-item" href="#">Edit my profile</a> <a class="dropdown-item"
                                href="#">Help</a> <a class="dropdown-item" href="">Sign Out</a></div>
                    </li>
                </ul>
            </div> -->
        </div>
    </div>
</header>