.header-section {
    background-color: #00539f;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #fff;
    align-items: center;
    padding: 0 5px;
}
.admin-logo img{
    max-width: 75px;
}